{% load static %}

<div class="babysisters">
		<div class="container">
			<div class="col-md-4 sister-left">
				<h2>Our Experts</h2>
				<div class="co-top">
					<div class="co-le">
						<img src="{% static 'images/team1.jpg' %}" class="img-responsive" alt="">
					</div>
					<div class="co-rg">
						<h5>Volutasassum</h5>
						<p>Eligendi pqui omnis volutasassum enda est</p>
					</div>
						<div class="clearfix"></div>
				</div>
				<div class="co-top">
					<div class="co-le">
						<img src="{% static 'images/team2.jpg' %}" class="img-responsive" alt="">
					</div>
					<div class="co-rg">
						<h5>Volutasassum</h5>
						<p>Massasoluta nobis est eligendi pqui omnis</p>
					</div>
						<div class="clearfix"></div>
				</div>
				<div class="co-top">
					<div class="co-le">
						<img src="{% static 'images/team3.jpg' %}" class="img-responsive" alt="">
					</div>
					<div class="co-rg">
						<h5>Volutasassum</h5>
						<p>Eligendi pqui omnis volutasassum enda est</p>
					</div>
						<div class="clearfix"></div>
				</div>
				<div class="co-top">
					<div class="co-le">
						<img src="{% static 'images/team4.jpg' %}" class="img-responsive" alt="">
					</div>
					<div class="co-rg">
						<h5>Volutasassum</h5>
						<p>Massasoluta nobis est eligendi pqui omnis</p>
					</div>
						<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4 sister-middle">
				<h3>Recommend</h3>
					<div class="plan-top">
						<h5>volutasassum</h5>
						<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
					</div>
					<div class="plan-top">
						<h5>volutasassum</h5>
						<p>Normal distribution of letters, as opposed to using 'Content here, content here', making it look .</p>
					</div>
					<div class="plan-top">
						<h5>volutasassum</h5>
						<p>More-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
					</div>
			</div>
			<div class="col-md-4 sister-right">
				<h3>Relationships</h3>
				<div class="relation">
					<img src="{% static 'images/7.jpg' %}" class="img-responsive" alt="">
						<p>More-or-less normal distribution of letters, as opposed to using .</p>
				</div>
				<div class="relation">
					<img src="{% static 'images/17.jpg' %}" class="img-responsive" alt="">
					<p>More-or-less normal distribution of letters, as opposed to using.</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>