<div class="banner">
		<section class="slider">
            <div class="flexslider">
                <ul class="slides">
					<li>
					<div class="banner1">
						<div class="container">
							<div class="banner-text">
								<p>Vivamus id dui et augue</p>
								<h3>Caring Baby Sitters For Your Kids</h3>
							</div>
						</div>
					</div>
					</li>
					<li>
					<div class="banner2">
						<div class="container">
							<div class="banner-text">
								<p>Vivamus id dui et augue</p>
								<h3>Caring Baby Sitters For Your Kids</h3>
							</div>
						</div>
					</div>
					</li>
					<li>
					<div class="banner1">
						<div class="container">
							<div class="banner-text">
								<p>Vivamus id dui et augue</p>
								<h3>Caring Baby Sitters For Your Kids</h3>
							</div>
						</div>
					</div>
					</li>
					<li>
					<div class="banner2">
						<div class="container">
							<div class="banner-text">
								<p>Vivamus id dui et augue</p>
								<h3>Donec eu dolor ac erat sodales rutrum</h3>
							</div>
						</div>
					</div>
					</li>
				</ul>
			</div>
		</section>
		
	</div>