<div class="header-top">
		<div class="container">
			<div class="head-main">
				<div class="col-md-4 head-right wow fadeInLeft animated" data-wow-delay=".5s">
					<p><span class="glyphicon glyphicon-earphone hh" aria-hidden="true"></span>Information Service : 000-1234-1234</p>
				</div>
				<div class="col-md-4 head-middle animated wow fadeInDown animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
					<h1><a href="{% url 'index'% }">Baby Care</a></h1>
				</div>
				
				<div class="col-md-4 head-left wow fadeInRight animated" data-wow-delay=".5s">
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="twit"> </span></a></li>
						<li><a href="#"><span class="pin"> </span></a></li>
						<li><a href="#"><span class="rss"> </span></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>