<div class="navigation animated wow fadeInDown animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
		<span class="menu"></span> 
			<ul class="navig cl-effect-16">
				<li class="active"><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'parents' %}">Parents</a></li>
				<li><a href="{% url 'babysitters' %}">Baby Sitters</a></li>
				<li><a href="{% url 'typo' %}">Short Codes</a></li>
				<li><a href="{% url 'gallery' %}">Gallery</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
			</ul>
	</div>