{% load static %}

<div class="parents">
<div class="services-section">
			<div class="container">
				<h2>Our Parents</h2>
				<div class="services-grids">
					<div class="col-md-3 services-grid"><a href="{% url 'singlepage' %}">
						<img src="{% static 'images/7.jpg' %}" class="img-responsive" alt="">
						<div class="services-info">
						<h4>In faucibus</h4>
						<p>This format perfectly fits in case you need only a single…</p>
						</div></a>
						</div>
						<div class="col-md-3 services-grid"><a href="{% url 'singlepage' %}">
							<img src="{% static 'images/8.jpg' %}" class="img-responsive" alt="">
							<div class="services-info">
								<h4>Malesuada</h4>
								<p>This format perfectly fits in case you need only a single …</p>
							</div></a>
						</div>
						<div class="col-md-3 services-grid"><a href="{% url 'singlepage' %}">
							<img src="{% static 'images/9.jpg' %}" class="img-responsive" alt="">
							<div class="services-info">
								<h4>Sodales orci</h4>
								<p>This format perfectly fits in case you need only a single …</p>
							</div></a>
						</div>
						<div class="col-md-3 services-grid"><a href="{% url 'singlepage' %}">
							<img src="{% static 'images/10.jpg' %}" class="img-responsive" alt="">
							<div class="services-info">
								<h4>Malesuada</h4>
								<p>This format perfectly fits in case you need only a single …</p>
							</div></a>
						</div>
					<div class="clearfix"></div>
					</div>
					<div class="services-grids">
					<div class="col-md-3 services-grid"><a href="{% url 'singlepage' %}">
						<img src="{% static 'images/11.jpg' %}" class="img-responsive" alt="">
						<div class="services-info">
						<h4>In faucibus</h4>
						<p>This format perfectly fits in case you need only a single…</p>
						</div></a>
						</div>
						<div class="col-md-3 services-grid"><a href="{% url 'singlepage' %}">
							<img src="{% static 'images/12.jpg' %}" class="img-responsive" alt="">
							<div class="services-info">
								<h4>Malesuada</h4>
								<p>This format perfectly fits in case you need only a single …</p>
							</div></a>
						</div>
						<div class="col-md-3 services-grid"><a href="{% url 'singlepage' %}">
							<img src="{% static 'images/13.jpg' %}" class="img-responsive" alt="">
							<div class="services-info">
								<h4>Sodales orci</h4>
								<p>This format perfectly fits in case you need only a single …</p>
							</div></a>
						</div>
						<div class="col-md-3 services-grid"><a href="{% url 'singlepage' %}">
							<img src="{% static 'images/17.jpg' %}" class="img-responsive" alt="">
							<div class="services-info">
								<h4>Malesuada</h4>
								<p>This format perfectly fits in case you need only a single …</p>
							</div></a>
						</div>
					<div class="clearfix"></div>
					</div>
				</div>
			</div>
</div>